<header class="header dark-bg">
  <!--<div class="toggle-nav">-->
    <!--<div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">-->
      <!--<i class="fa fa-search"></i></div>-->
  <!--</div>-->

  <!--logo start-->
  <a href="<%= root_path %>" class="logo">Story of <span class="lite">PLATO</span></a>
  <!--logo end-->

  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">

      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="username">Jenifer Smith</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
          <li class="eborder-top">
            <a href="#"><i class="fa fa-user-md"></i> My Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </li>
      <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
  </div>
</header>
<!--header end-->