<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="">
        <a class="" href="<%= root_path %>">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="" href="widgets.html">
          <i class="fa fa-desktop"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a class="" href="<%= organizations_path %>">
          <i class="fa fa-building"></i>
          <span>Organizations</span>
        </a>
      </li>
      <li>
        <a class="" href="<%= subscriptions_path %>">
          <i class="fa fa-ticket"></i>
          <span>Subscriptions</span>
        </a>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->