<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading</div>
      <div class="panel-content">Panel content</div>
    </div>
  </div>
</div>

<%= link_to 'Back', subscriptions_path %>
