.login-img3-body .alert {
    margin-bottom: 0;
}

.login-img3-body .login-form {
    margin: 150px auto 0;
}

.alert-notice {
    background-color: #dff8e3;
    border-color: #caf4ca;
    color: #4cd964;
}

.panel-heading.panel-default-card {
    border-color: #0000FF;
    background: #0000FF;
    color: #ffffff;
}
.panel-heading.panel-partial-task {
    border-color: #FF3333;
    background: #FF3333;
    color: #000;
}
.panel-heading.panel-card-completed {
    border-color: #3CFF33;
    background: #3CFF33;
    color: #284315;
}
#cardlist .panel .panel-heading i{
    border: none;
    margin: 0 auto;
}
.panel-heading a{
    color: #fff;
}
.act-time .act-in .text{
    border: none;
    padding: 0px;
}
.act-time .act-in .text input{
    margin-right: 10px;
}
.act-time{
    padding: 0px;
}
.attribution a i{
    margin: 0 auto;
}